<form action="/delevery-man/register" method="post">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <%- include('../__form_fields') %> 
                    <button type="submit" class="btn w-100 btn-dark">Register</button>      
                </div>
            </div>
        </div>
    </div>
</form>