<div class="row mb-2">
    <div class="col">
        <form action="/users/reset-password-p1" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <button type="submit" class="btn w-100 btn-dark">Send</button>
        </form>
    </div>
</div>


<% if(locals.failedMessage != null){ %>
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>Time Up</h1>
                </div>
            </div>
        </div>
    </div>
<% } %> 
