<div class="row mb-2">
    <div class="col">
        <form action="/users/reset-password-p1" method="post">
            <div class="input-group mb-3">
                <label for="" class="form-control">Enter Code:</label>
                <input name="code" class="form-control" type="number">
            </div>
            <button type="submit" class="btn w-100 btn-dark">Submit</button>
        </form>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <form action="/products/<%=  %>/updateProductStatus?_method=PUT" method="post">
            <div class="input-group mb-3">
                <label for="" class="form-control">Enter Code:</label>
                <input name="code" class="form-control" type="number">
            </div>
                <button class="btn btn-lg btn-outline-dark">Delevered</button>
                <button class="btn btn-lg btn-outline-dark"><a href="/products">Cancel</a></button>
            </div>
        </form>
    </div>
</div>