<div class="row">
    <div class="col">
        <form action="/products" method="post">
            <%- include('__form_fields') %> 
            <div class="btn-group">
                <button class="btn btn-lg btn-outline-dark">Add</button>
                <button class="btn btn-lg btn-outline-dark"><a href="/products">Cancel</a></button>
            </div>
        </form>
    </div>
</div>