<form action="/user/login" method="post">

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn w-100 btn-dark">Login</button>
                </div>
            </div>
        </div>
    </div>

</form>

<% if(locals.errorMessage != null ){ %>
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2><%= errorMessage  %> </h2>
                </div>
                <div class="card-header">
                    <a href="/users/reset-password-p1">
                        <button class="btn btn-lg btn-outline-dark">reset password</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
<% } %>  